# Create a secrets.properties file at this location using below template.

# JWT token expiration
jwt.token.secret=<secret-key>
jwt.token.signature=<signature-algorithm>
jwt.token.expiration.time=<time_in_ms>

## PostgresSQL credentials
spring.datasource.username=<db_username>
spring.datasource.password=<db_password>

## API
api.ieee.key=<key_value>
api.scopus.key=<key_value>
api.wos.key=<key_value>